html, body {
  height: 100%;
}

body, .app {
  background: white;
}

.cursor-pointer {
  cursor: pointer
}

.categories-names-list {
  list-style-type: none;
  margin: 0px; 
  background: #2e7c31;
}

.category-name {
  padding-top: 10px;
  color: white;
}

.home-posts-list {
  position: absolute;
  top: 0px;
  left: 250px;
  width: 80%;
}

.posts-list {
  list-style-type: none;
  width: 400px;
  background: white;
}

.posts-list li {
  padding: 5px;
}

.comments-list {
  list-style-type: none;
  margin: 0px;
}

.comment {
  padding-top: 10px;
}